header {
  padding: 45px;
  background: url("/images/header.png");
  height: 208px;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  letter-spacing: -0.045em;
  font-weight: 800;
  font-size: 42.7947px;
  line-height: 24px;
}

header a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.search-bar {
  position: absolute;
  bottom: -17px;
  width: 462px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.search-bar input,
.search-bar button {
  margin: 0;
  height: 38px;
  border: 1px solid #d1d5db;
  font-size: 14px;
}

.search-bar input {
  width: 340px;
  border-radius: 6px 0 0 6px;
  background: url("images/search-icon.png") top 8px left 12px no-repeat;
  background-size: 20px 20px;
  background-color: #fff;
  padding: 9px 13px 9px 40px;
}

.search-bar button {
  width: 110px;
  margin-left: -6px;
  background: #f9fafb;
  border-radius: 0 6px 6px 0;
}
