.movie-card {
  display: flex;
  gap: 21px;
  align-items: center;
  margin: 22px 0 22px 0;
  padding: 21px 0 21px 0;
  border-bottom: 1.5px solid #e5e7eb;
}

.movie-card h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.movie-card p {
  margin: 0;
}

.movie-card-header {
  display: flex;
  align-items: baseline;
  gap: 8px;
  margin-bottom: 10px;
}

.movie-card-header h2 {
  margin: 0;
  font-size: 18px;
}

.movie-poster {
  width: 100px;
}

.rating {
  display: flex;
  gap: 4px;
}

.rating-icon {
  width: 15px;
  height: 15px;
}

.movie-card-sub-header {
  display: flex;
  align-items: center;
  gap: 30px;
  color: #111827;
  margin-bottom: 8px;
}

.movie-card-sub-header p {
  font-size: 12px;
}

.watchlist-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  color: #111827;
  background: none;
  border: none;
}

button img {
  height: 16px;
  width: 16px;
}

.plot {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6b7280;
}
