.start-exploring {
  display: block;
  width: 150px;
  margin: 30vh auto;
}

.no-results {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #dfdddd;
  margin: 30vh auto;
}
